flask
flask-cors
transformers==4.37.2
torch==2.0.1+cpu
--find-links https://download.pytorch.org/whl/cpu
numpy==1.26.4
scipy==1.10.1
flask_sqlalchemy
flask_bcrypt
flask_jwt_extended
python-dotenv
